.menu1 {
    background: rgba(82, 5, 88, 0.747);
}

a:hover {
    color: black;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #020202;
    /* position: fixed; */
    width: 100vw;
    z-index: 999;
    top: 0;
}

.calc {
    outline: none;
    border: 1px solid gray;
}

input {
    border: none;
    outline: none;
    width: 30px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 80px;
    /* border-radius: 50%; */
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu {
    display: flex;
    list-style: none;
    transform: translateY(30%);
}

.menu li {
    margin-right: 18px;
    position: relative;
}

.menu a {
    display: block;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding-bottom: 5px;
}

.menu a:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: red;
    transition: all 0.25s ease-in;
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: red;
    text-decoration: none;
}

.sub_menu {
    width: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.664);
    /* display: none; */
    list-style: none;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 0.25s ease;
    pointer-events: none;
    border-radius: 10px;
    top: 50px;
    z-index: 3;
}

.sub_menu a {
    color: #000;
}

.sub_menu::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 15px;
    background: #000;
    top: -15px;
    z-index: 1;
}

.sub_menu::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgba(255, 255, 255, 0.514);
    left: 60px;
    top: -15px;
    z-index: 2;
}

.menu>li:hover .sub_menu {
    transform: unset;
    /* display: block; */
    opacity: 1;
    pointer-events: fill;
}

.last-sub {
    left: -100px;
    padding: 10px;
}

.last-sub input {
    border-radius: 20px;
    padding-inline: 1px;
    background-color: beige;
    border: 3px solid grey;
}

.main {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.remove {
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 30px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    background-color: #750505;
    color: white;
    border-bottom: 5px solid rgba(9, 38, 119, 0.753);
    border-right: 5px solid rgba(9, 70, 119, 0.678);
}

@media screen and (max-width: 769px) {
    .icon-responsive {
        display: block;
        font-size: 50px;
        color: white;
        position: relative;
    }

    .menu {
        width: 0;
        opacity: 0;
        padding-left: 10px;
        top: 0;
        right: 0;
        position: absolute;
        background: rgba(19, 17, 17, 0.856);
        display: flex;
        flex-direction: column;
    }
}

.flex {
    width: 100%;
    opacity: 1;
    transition: all 0.25s linear;
}